spring-analysis-note/spring-source-study/src/main/resources/META-INF/mytags.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.moon.com/schema/mytags"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.moon.com/schema/mytags"
            elementFormDefault="qualified" attributeFormDefault="unqualified">

    <!--
       自定义标签相关约束
    -->
    <xsd:element name="redis">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string"/>
            <xsd:attribute name="ip" type="xsd:string"/>
            <xsd:attribute name="port" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>